<form method="post" action="/names" id="name_form">
    <input type=text name="player_1_name"></input>
    <input type=text name="player_2_name"></input>
    <button type=submit>submit</button>
</form>